*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
.main_blok{
  border: 0px solid red;
  width: 99.8%;
  height: 900px;
  display: flex;
  background:  linear-gradient(170deg, #E5EEF3FF 1%, rgb(234, 199, 191) 30%,  #F6F1EEFF 99%  );
  justify-content: center;
  align-items: center;
}
.main_blok > div:first-child{
  width: 37%;
  height: 92%;
  background-color: #F7F7F7FF;
}
.main_blok > div:last-child{
  width: 37%;
  height: 92%;
 background-color: white;
}
.main_blok > div:first-child i{
  margin: 45px 50px;
  display: block;
  font-size: 1.2rem;
}
.main_blok > div:first-child img{
  width:80%;
  height: 55%;
  margin-left: 9%;
}
.p1{
  color: rgb(4, 4, 186);
  text-decoration: none;
  margin: 40px;
  font-weight: 600;
}
.p1 a{
  color: rgb(4, 4, 186);
  text-decoration: none;
}
.p2{
  text-transform: uppercase;
  color: grey;
  margin-left: 40px;
  font-size: 0.9rem;
}
.p3{
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-left: 40px;
}
.star i{
  color: orange;
  margin-left: 5px;
}
.star{
  margin-left: 40px;
  font-size: 0.7rem;
  margin-top: 10px;
}
.star span{
  margin-left: 10px;
}
 .star .icon{
  color: grey;
}
.p4{
  margin-left: 40px;
  text-transform: capitalize;
  font-weight: 600;
 margin-top: 18px;
}
.bu{
  width: 21%;
 border-top: 1px solid rgba(0, 0, 0, 0.384);
 border-bottom:  1px solid rgba(0, 0, 0, 0.384);
 border-left:  1px solid rgba(0, 0, 0, 0.384);
 border-right: 0px solid black;
  height: 30px;
  margin-left: 40px;
  margin-top: 12px;
  text-transform: capitalize;
  background-color: unset;
  font-weight: 600;
}
.but{
  width: 21%;
  border:  1px solid rgba(0, 0, 0, 0.384);
  height: 30px;
  margin-top: 12px;
  text-transform: capitalize;
  margin-left: -4px;
  font-weight: 600;
}
.but1 , .but2{
  width: 17%;
  border:  1px solid rgba(0, 0, 0, 0.384);
  height: 30px;
  margin-top: 12px;
  text-transform: capitalize;
  border-radius: 36px;
  margin-left: 10px;
  background-color: white;
  font-weight: 600;
}
.but2{
  margin-left: 40px;
}
.but3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #28D5C4FF;
  margin-left: 40px;
  margin-top: 11px;
  border: none;
  font-weight: 600;
}
.but4 , .but5 , .but6{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin-top: 11px;
  border: none;
  margin-left: 14px;
  font-weight: 600;
}
.but5{
  background-color: rgba(128, 128, 128, 0.421);
  border:  1px solid rgba(0, 0, 0, 0.099);
}
.but6{
  background-color: white;
  border:  1px solid rgba(0, 0, 0, 0.129);

}
.but7 {
  width: 26%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid blue;
  height: 30px;
  margin-top: 12px;
  text-transform: capitalize;
  font-weight: 600;
  margin-left: 40px;
  background-color: white;
}
.but8{
  width: 26%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.262);
  font-weight: 600;
  height: 30px;
  margin-top: 12px;
  text-transform: capitalize;
  margin-left: -4px;
  background-color: white;
}
.img{
  width: 18%;
  height: 200px;
  background-color: rgba(173, 171, 171, 0.287);
  margin-top: 15px;
  margin-left: 40px;
  float: left;
}
.p9{
  position: relative;
  top: 25px;
  margin-left: 30px;
  text-transform: capitalize;
  font-weight: 600;
}
.p9 + p{
  position: relative;
  top: 35px;
  left: 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9rem;
}
/* .footer{
  width: 55%;
  height: 85px;
  margin: 0px auto;
  z-index: 10;
  position: relative;
  bottom: 175px;
  border: 1px solid rgba(0, 0, 0, 0.147);
  background-color: white;
} */
